<!DOCTYPE html>
{%extends 'base.html'%}
{% load bootstrap4 %}

  

{% block container %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <h1>{{description}}</h1>
    <h1>{{temp}}</h1>
   <img src="https://api.openweathermap.org/img/w/{{icon}}" alt="">
</body>
    </section>
    <footer class="footer">
    </footer>


{% endblock %}