

{%extends 'base.html'%}
{% load bootstrap4 %}

{% load static %}


{% block container %}
<style>
      
    body {
color:black;
background-color:white;
background-image:url({% static 'images/Marché_dAflou,_1973.jpg'%});
background-repeat:no-repeat;
-webkit-background-size: cover; /* pour anciens Chrome et Safari */
background-size: cover; /* version standardisée */
background-attachment:fixed;

} 
</style>
<center>
<div class="container">
 <a href="{% url 'accounts:home'%}"> <h1 style="color:rgb(242, 241, 245);font-size:40px;">  مـــــؤسسة شـــمــــل للبرمجيات</h1></a> 
</div>
</center>
{% endblock%}

